<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GAS"
        tools:targetApi="31">
        <activity
            android:name=".activities.TemperatureActivity"
            android:exported="false" />
        <activity
            android:name=".activities.preVideo"
            android:exported="false" />
        <activity
            android:name=".activities.LogingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.signupActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtta4Jmmztj9gA0wEhjUQj2hMrS8RU4Xg" />

        <activity
            android:name=".activities.Maps"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.gas_stores"
            android:exported="false" />
        <activity
            android:name=".activities.order"
            android:exported="false" />
        <activity
            android:name=".activities.precations"
            android:exported="false" />
        <activity
            android:name=".activities.types_of_gas"
            android:exported="false" />
        <activity
            android:name=".activities.home"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>